<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Sample Header</title>
</head>

<body>
  <header>
    <div class="banner">
        <img src="../assets/images/logo-banner.png" class="logo" alt="logo" />
        <h1>Hello British Columbia</h1>
    </div>
    <div class="other">
      <!-- While its preferd to keep this space empty with good UX in mind
      it can be utilized as needed  -->
      &nbsp;
    </div>
    </div>
  </header>
</body>

</html>