.bcds-react-aria-Radio {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-margin-small);
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  forced-color-adjust: none;
}

/* Selector */
.bcds-react-aria-Radio:before {
  align-self: first baseline;
  margin-top: var(--layout-margin-xsmall);
  content: "";
  display: block;
  width: var(--icons-size-xsmall);
  height: var(--icons-size-xsmall);
  box-sizing: border-box;
  background-color: var(--surface-color-secondary-default);
  border-radius: var(--icons-size-small);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-medium);
  transition: all 200ms;
}

/* Hover */
.bcds-react-aria-Radio[data-hovered] {
  &:before {
    border: var(--layout-border-width-small) solid
      var(--surface-color-border-dark);
  }
}

/* Pressed */
.bcds-react-aria-Radio[data-pressed] {
  &:before {
    border: var(--layout-border-width-small) solid
      var(--surface-color-border-dark);
  }
}

/* Selected */
.bcds-react-aria-Radio[data-selected] {
  &:before {
    border: 5px solid var(--surface-color-primary-default);
  }
}

/* Focused */
.bcds-react-aria-Radio[data-focus-visible] {
  &:before {
    outline: solid var(--layout-border-width-medium)
      var(--surface-color-border-active);
    outline-offset: var(--layout-margin-hair);
  }
}

/* Invalid */

.bcds-react-aria-Radio[data-invalid] {
  &:before {
    border: var(--layout-border-width-small) solid
      var(--support-border-color-danger);
  }
}

.bcds-react-aria-Radio[data-selected][data-invalid] {
  color: var(--typography-color-danger);

  &:before {
    border: 5px solid var(--support-border-color-danger);
  }
}

/* Disabled */
.bcds-react-aria-Radio[data-disabled] {
  color: var(--typography-color-disabled);
  cursor: not-allowed;
}

.bcds-react-aria-radio[data-selected][data-disabled] {
  &:before {
    border: 5px solid var(--surface-color-border-default);
  }
}

/* Read only */
.bcds-react-aria-Radio[data-readonly] {
  cursor: not-allowed;
}
