<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Sample Navigation</title>
</head>

<!--
  All in-line CSS is specific to this sample; it can and should be ignored.
 -->

<body style="background: #F8F8F8; margin-top: 130px;">
  <header>
    <div class="banner">
        <a href="https://gov.bc.ca" alt="Go to the Government of British Columbia website">
          <img src="../assets/images/logo-banner.svg" alt="Go to the Government of British Columbia website" />
        </a>
        <h1>Hello British Columbia</h1>
    </div>
    <div class="other">
      <a class="nav-btn">
        <i class="fas fa-bars" id="menu"></i>
      </a>
    <!-- 
      This place is for anything that needs to be right aligned
      beside the logo.
    -->
    </div>
  </header>
  <nav class="navigation-main" id="navbar">
    <div class="container">
      <ul>
        <li><a href="sample.html" class="active">Link 1</a></li>
        <li><a href=".">Link 2</a></li>
        <li><a href=".">Link 3</a></li>
        <li><a href=".">Link 4</a></li>
        <li><a href=".">Link 5</a></li>
        <li><a href=".">Link 6</a></li>
      </ul>
    </div>
  </nav>

  <script>
      <!-- This is a sample implementation and may vary depending on the front end framework/techstack being used. -->
    function setupSampleMenuControl() {
      const useCapture = false;
      const show = elem => elem.style.display = 'block';
      const hide = elem => elem.style.display = 'none';
      const toggle = (elem) => {
        if (window.getComputedStyle(elem).display === 'block') {
          hide(elem);
          return;
        }
        show(elem);
      };
      // Listen for click events
      const menuButton = document.getElementById('menu');
      menuButton.addEventListener('click', (event) => {
        // Filter events
        if (event.target.id !== 'menu') return;
        // Prevent default link behavior
        event.preventDefault();
        // Check for a valid target
        const nav = document.getElementById('navbar')
        if (!nav) return;
        // Toggle
        toggle(nav);
      }, useCapture);
    }
    setupSampleMenuControl();
  </script>

</body>
</html>
