.bcds-react-aria-CheckboxGroup {
  display: flex;
  gap: var(--layout-margin-small);
}

/* Orientation */
.bcds-react-aria-CheckboxGroup--options {
  display: inline-flex;
}

.bcds-react-aria-CheckboxGroup--options.vertical {
  flex-direction: column;
  gap: var(--layout-margin-small);
}

.bcds-react-aria-CheckboxGroup--options.horizontal {
  flex-direction: row;
  gap: var(--layout-margin-large);
}

/* Parts */
.bcds-react-aria-CheckboxGroup--label {
}

.bcds-react-aria-CheckboxGroup--description {
}

.bcds-react-aria-CheckboxGroup--error {
}
