.bcds-ButtonGroup {
  display: flex;
  gap: var(--layout-margin-small);
  flex-grow: 1;
}

.bcds-ButtonGroup.horizontal {
  flex-direction: row;
}

.bcds-ButtonGroup.vertical {
  flex-direction: column;
}

.bcds-ButtonGroup.start {
  align-items: flex-start;
}

.bcds-ButtonGroup.end {
  align-items: flex-end;
}
