body {
  font-family: 'Noto Sans', Verdana, Arial, sans-serif;
  font-size: 18px;
}

a {
  color: #1a5a96;
}

a:hover {
  text-decoration: none;
  color: blue;
}

i.fa-external-link-alt {
  color: #1a5a96;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}
