.bcds-react-aria-ToggleButtonGroup {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-xsmall);
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  background-color: var(--surface-color-secondary-button-disabled);
  border-radius: var(--layout-border-radius-medium);
}

/* Orientation */
.bcds-react-aria-ToggleButtonGroup[data-orientation="horizontal"] {
  flex-direction: row;
  min-height: var(--layout-margin-xlarge);
}

.bcds-react-aria-ToggleButtonGroup[data-orientation="vertical"] {
  flex-direction: column;
}

/* Label */
.bcds-react-aria-ToggleButtonGroup--Label {
  display: flex;
  padding: var(--layout-padding-small) var(--layout-padding-none);
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
}
