.bcds-react-aria-TagGroup {
  color: var(--typography-color-primary);
  font: var(--typography-regular-small-body);
}

.bcds-react-aria-TagGroup--Label,
.bcds-react-aria-TagGroup--Text-description,
.bcds-react-aria-TagGroup--Text-error {
  display: block;
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

.bcds-react-aria-TagGroup--Text-error {
  display: flex;
  color: var(--typography-color-danger);
}

.bcds-react-aria-TagGroup--Text-error > svg {
  padding-right: var(--layout-padding-xsmall);
  color: var(--icons-color-danger);
  min-width: var(--icons-size-medium);
  height: var(--icons-size-medium);
}
