.bcds-react-aria-TimeField {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: var(--layout-margin-hair);
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}

/* Input field */
.bcds-react-aria-TimeField--InputContainer {
  display: flex;
  flex-direction: row;
  min-width: 0;
  align-items: center;
  box-sizing: border-box;
  gap: var(--layout-margin-small);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
  padding: var(--layout-padding-xsmall) var(--layout-padding-small);
  background: var(--surface-color-forms-default);
}

.bcds-react-aria-TimeField--Input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  color: var(--typography-color-primary);
}

.bcds-react-aria-TimeField--Segment {
  padding: var(--layout-padding-none);
}
.bcds-react-aria-TimeField--Segment[data-type="timeZoneName"] {
  color: var(--typography-color-secondary);
}

.bcds-react-aria-TimeField--Input[data-placeholder] {
  color: var(--typography-color-placeholder);
}

/* Label */
.bcds-react-aria-TimeField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

/* Required indicator */
.bcds-react-aria-TimeField--Label.required {
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-none) var(--layout-padding-xsmall);
}

/* Description */
.bcds-react-aria-TimeField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

/* Error message */
.bcds-react-aria-TimeField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}

/* Sizing */
.bcds-react-aria-TimeField.small .bcds-react-aria-TimeField--InputContainer {
  padding: var(--layout-padding-hair) var(--layout-padding-small);
  height: 32px;
}
.bcds-react-aria-TimeField.small .bcds-react-aria-TimeField--Segment {
  font: var(--typography-regular-small-body);
}

.bcds-react-aria-TimeField.medium .bcds-react-aria-TimeField--InputContainer {
  padding: var(--layout-padding-xsmall) 0.75rem;
  height: 40px;
}
.bcds-react-aria-TimeField.medium .bcds-react-aria-TimeField--Segment {
  font: var(--typography-regular-body);
}

/* Hover and focus states */
.bcds-react-aria-TimeField--InputContainer:has(
  .bcds-react-aria-TimeField--Input[data-hovered]
) {
  border-color: var(--surface-color-border-dark);
}
.bcds-react-aria-TimeField--InputContainer:has(
  .bcds-react-aria-TimeField--Segment[data-focus-visible]
) {
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}

.bcds-react-aria-TimeField--Segment[data-focused] {
  outline: none;
  border-radius: var(--layout-border-radius-small);
  background-color: var(--surface-color-primary-default);
  color: var(--typography-color-primary-invert);
  padding: var(--layout-padding-hair);
  margin: var(--layout-margin-none) var(--layout-margin-hair);
}

/* Disabled and read-only states */
.bcds-react-aria-TimeField[data-disabled]
  > .bcds-react-aria-TimeField--InputContainer,
.bcds-react-aria-TimeField[data-disabled] .bcds-react-aria-TimeField--Input {
  background: var(--surface-color-forms-disabled);
  color: var(--typography-color-placeholder);
  cursor: not-allowed;
}

.bcds-react-aria-TimeField[data-readonly]
  > .bcds-react-aria-TimeField--InputContainer,
.bcds-react-aria-TimeField[data-readonly] .bcds-react-aria-TimeField--Input {
  background: var(--surface-color-forms-disabled);
}

/* Invalid state */
.bcds-react-aria-TimeField[data-invalid]
  > .bcds-react-aria-TimeField--InputContainer {
  border-radius: var(--layout-border-radius-medium);
  border: var(--layout-border-width-small) solid
    var(--support-border-color-danger);
  background: var(--surface-color-forms-default);
}
.bcds-react-aria-TimeField[data-invalid]
  > .bcds-react-aria-TimeField--InputContainer
  > svg#exclamation-icon {
  color: var(--icons-color-danger);
  min-width: var(--icons-size-medium);
  height: var(--icons-size-medium);
}
