.bcds-react-aria-TimeField {
  display: inline-flex;
  flex-direction: column;
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}

/* Styles for the text label above the input field */
.bcds-react-aria-TimeField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

.bcds-react-aria-TimeField--Label .required {
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-none) var(--layout-padding-xsmall);
}

/* Styles for the text description below the input field */
.bcds-react-aria-TimeField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

/* Styles for the input field container */
.bcds-react-aria-TimeField--container {
  color: var(--typography-color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-margin-small);
  background: var(--surface-color-forms-default);
  box-sizing: border-box;
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
  padding: var(--layout-padding-small) 12px;
}

.bcds-react-aria-TimeField--Segment {
  padding: 2px 1px;
}

/* Text input field */
.bcds-react-aria-TimeField--Input {
  font: var(--typography-regular-body);
  padding: var(--layout-padding-none);
  color: var(--typography-color-primary);
  border: none;
  flex-grow: 1;
}

.bcds-react-aria-TimeField--Input::placeholder {
  color: var(--typography-color-placeholder);
}

/* Sizes */
.bcds-react-aria-TimeField--container.small {
  height: var(--layout-margin-xlarge);
  min-height: var(--layout-margin-xlarge);
}

.bcds-react-aria-TimeField--container.small .bcds-react-aria-TimeField--Input {
  font: var(--typography-regular-small-body);
}

.bcds-react-aria-TimeField--container.medium {
  height: var(--layout-margin-xxlarge);
  min-height: var(--layout-margin-xxlarge);
}

.bcds-react-aria-TimeField--container.medium .bcds-react-aria-TimeField--Input {
  font: var(--typography-regular-body);
}

/* Hover and focus states */

.bcds-react-aria-TimeField--container:focus-within {
  border-radius: var(--layout-border-radius-large);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-active);
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}

.bcds-react-aria-TimeField--container:hover {
  border-color: var(--surface-color-border-dark);
}

.bcds-react-aria-TimeField:not([data-readonly]) .bcds-react-aria-TimeField--Segment[data-focused] {
  color: var(--typography-color-primary-invert);
  background: var(--surface-color-primary-button-hover);
  outline: none;
  border-radius: var(--layout-border-radius-medium);
}

/* Disabled and invalid states */

.bcds-react-aria-TimeField[data-disabled]
  > .bcds-react-aria-TimeField--container,
.bcds-react-aria-TimeField[data-disabled] .bcds-react-aria-TimeField--Input {
  background: var(--surface-color-forms-disabled);
  color: var(--typography-color-placeholder);
  cursor: not-allowed;
}

.bcds-react-aria-TimeField[data-invalid]
  > .bcds-react-aria-TimeField--container {
  border-radius: var(--layout-border-radius-medium);
  border: var(--layout-border-width-small) solid
    var(--support-border-color-danger);
  background: var(--surface-color-forms-default);
}

.bcds-react-aria-TimeField[data-readonly]
  > .bcds-react-aria-TimeField--container,
.bcds-react-aria-TimeField[data-readonly] .bcds-react-aria-TimeField--Input {
  background: var(--surface-color-forms-disabled);
}

.bcds-react-aria-TimeField[data-readonly]
  > .bcds-react-aria-TimeField--container
  > .bcds-react-aria-TimeField--Input {
  background: var(--surface-color-forms-disabled);
}

/* Styles for the error message slot */
.bcds-react-aria-TimeField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}

.bcds-react-aria-TimeField[data-invalid]
  > .bcds-react-aria-TimeField--container
  > svg#exclamation-icon {
  color: var(--icons-color-danger);
  min-width: var(--icons-size-medium);
  height: var(--icons-size-medium);
}
