body {
  font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #494949;
}

p {
  margin: 0;
}

h3 {
  font-size: 25.92px;
  margin: 0;
}

.bc-gov-alertbanner-success {
  width: 800px;
  background-color: #EAF3EC;
  border-left: 10px solid #2E8540;
  margin-bottom: 36px;
}

.bc-gov-alertbanner-error {
  width: 800px;
  background-color: #FBEAEA;
  border-left: 10px solid #D8292F;
  margin-bottom: 36px;
}

.bc-gov-alertbanner-important {
  width: 800px;
  background-color: #EEF4FA;
  border-left: 10px solid #5091CD;
  margin-bottom: 36px;
}

.bc-gov-alertbanner-warning {
  width: 800px;
  background-color: #FEF8ED;
  border-left: 10px solid #F3BD48;
  margin-bottom: 36px;
}

.bc-gov-alertbanner-contents {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 30px;
  color: #494949;
}

.fa-check-circle {
  font-size: 39px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  color: #494949;
}

.fa-exclamation-circle {
  font-size: 39px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  color: #494949;
}

.fa-info-circle {
  font-size: 39px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  color: #494949;
}

.fa-exclamation-triangle {
  font-size: 39px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  color: #494949;
}

ul {
  margin: 0px;
}

a {
  color: #1a5a96;
}

a:hover {
  text-decoration: none;
  color: blue;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}
