.bcds-react-aria-Dialog {
  display: flex;
  flex-direction: column;
}

.bcds-react-aria-Dialog--Container {
  position: relative;
  min-height: var(--layout-margin-medium);
  padding: var(--layout-padding-medium);
}

/* Close icon */
.bcds-react-aria-Dialog--closeIcon {
  color: var(--icons-color-primary);
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--layout-padding-small);

  > svg {
    min-width: var(--icons-size-medium);
    height: var(--icons-size-medium);
  }
}
