.bcds-react-aria-Navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: var(--layout-padding-none) var(--layout-padding-medium);
  background-color: var(--surface-color-background-white);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.bcds-react-aria-Navbar--Container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 1100px;
}

.bcds-react-aria-Navbar--List {
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  align-items: center;
  list-style: none;
  margin: unset;
  padding: unset;
}

.bcds-react-aria-Navbar--Separator {
  display: flex;
  align-self: stretch;
}

.bcds-react-aria-Navbar--Separator
  > .bcds-react-aria-Separator[aria-orientation="vertical"] {
  height: 100%;
}

/* Sizing */
.bcds-react-aria-Navbar--Container.small > .bcds-react-aria-Navbar--List {
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
  gap: var(--layout-margin-xsmall);
}
.bcds-react-aria-Navbar--Container.medium > .bcds-react-aria-Navbar--List {
  padding: var(--layout-padding-small) var(--layout-padding-none);
  gap: var(--layout-margin-small);
}
