.bcds-react-aria-Navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: var(--layout-padding-none) var(--layout-padding-medium);
  background-color: var(--surface-color-background-light-gray);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.bcds-react-aria-Navbar--Container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  white-space: normal;
  align-items: center;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-small) var(--layout-padding-none);
  max-width: 1100px;
}
