.bcds-react-aria-NumberField {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-hair);
  background-color: var(--surface-color-forms-default);
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}
/* Input and controls */
.bcds-react-aria-NumberField--Group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
}
/* Decrement button */
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:first-child {
  border-right: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-none);
}
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:first-child
  > .bcds-react-aria-Button {
  border-top-right-radius: var(--layout-border-radius-none);
  border-bottom-right-radius: var(--layout-border-radius-none);
}
/* Increment button */
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:last-child {
  border-left: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-none);
}
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:last-child
  > .bcds-react-aria-Button {
  border-top-left-radius: var(--layout-border-radius-none);
  border-bottom-left-radius: var(--layout-border-radius-none);
}
/* Button icons */
.bcds-react-aria-NumberField--Group > button > svg {
  color: var(--icons-color-primary);
}
/* Input container */
.bcds-react-aria-NumberField--InputContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  min-width: 0;
  align-items: center;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-small) 0.75rem;
}
/* Input field */
.bcds-react-aria-NumberField--Input {
  box-sizing: border-box;
  border: none;
  width: 100%;
}

/* Sizing */
.bcds-react-aria-NumberField.medium > .bcds-react-aria-NumberField--Group {
  height: 40px;
}
.bcds-react-aria-NumberField.medium .bcds-react-aria-NumberField--Input {
  font: var(--typography-regular-body);
}
.bcds-react-aria-NumberField.small > .bcds-react-aria-NumberField--Group {
  height: 32px;
}
.bcds-react-aria-NumberField.small .bcds-react-aria-NumberField--Input {
  font: var(--typography-regular-small-body);
}

/* Styles for the text label above the input field */
.bcds-react-aria-NumberField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
}

/* Styles for the text description below the input field */
.bcds-react-aria-NumberField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
}

/* Hover state */
.bcds-react-aria-NumberField--Group[data-hovered],
.bcds-react-aria-NumberField--Group[data-hovered][data-disabled] {
  border-color: var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group[data-hovered]
  > .bcds-react-aria-NumberField--Button {
  border-color: var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group[data-hovered][data-focus-within]
  > .bcds-react-aria-NumberField--Button {
  border-color: var(--surface-color-border-active);
}

/* Focus state */
.bcds-react-aria-NumberField--Group[data-focus-within] {
  border-color: var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group[data-focus-within]
  > .bcds-react-aria-NumberField--Button {
  border-color: var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group[data-focus-within]
  .bcds-react-aria-NumberField--Input {
  outline: none;
}
.bcds-react-aria-NumberField--Group[data-focus-visible] {
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}
.bcds-react-aria-NumberField--Group[data-focus-visible]
  .bcds-react-aria-NumberField--Input {
  outline: none;
}

/* Error state */
.bcds-react-aria-NumberField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}
.bcds-react-aria-NumberField[data-invalid]
  .bcds-react-aria-NumberField--InputContainer
  > svg {
  color: var(--icons-color-danger);
}
.bcds-react-aria-NumberField[data-invalid]
  > .bcds-react-aria-NumberField--Group {
  border-color: var(--support-border-color-danger);
}
.bcds-react-aria-NumberField[data-invalid]
  > .bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button {
  border-color: var(--support-border-color-danger);
}

/* Disabled and read-only states */
.bcds-react-aria-NumberField[data-disabled]
  > .bcds-react-aria-NumberField--Group {
  background-color: var(--surface-color-forms-disabled);
  cursor: not-allowed;
}
.bcds-react-aria-NumberField[data-disabled]
  .bcds-react-aria-NumberField--Input {
  background-color: var(--surface-color-forms-disabled);
  cursor: not-allowed;
}
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button[data-disabled] {
  background-color: var(--surface-color-forms-disabled);
}
/* BCDS Button style tweaks */
/* Hover/focus states */
.bcds-react-aria-NumberField--Group[data-hovered]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button {
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group[data-hovered][data-focus-within]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button {
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-active);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-active);
}
/* Disabled/read-only states */
.bcds-react-aria-NumberField--Group[data-disabled],
.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button[data-disabled] {
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}
.bcds-react-aria-NumberField--Group[data-hovered]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button[data-disabled] {
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group[data-focus-within]
  > .bcds-react-aria-NumberField--Button
  .bcds-react-aria-Button[data-disabled] {
  border-top: var(--layout-border-width-small) solid
    var(--surface-color-border-active);
  border-bottom: var(--layout-border-width-small) solid
    var(--surface-color-border-active);
}
/* Error state */
.bcds-react-aria-NumberField--Group[data-invalid]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button,
.bcds-react-aria-NumberField--Group[data-invalid][data-focus-within]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button,
.bcds-react-aria-NumberField--Group[data-invalid][data-hovered]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button[data-disabled],
.bcds-react-aria-NumberField--Group[data-invalid][data-focus-within]
  > .bcds-react-aria-NumberField--Button
  > .bcds-react-aria-Button[data-disabled] {
  border-top: var(--layout-border-width-small) solid
    var(--support-border-color-danger);
  border-bottom: var(--layout-border-width-small) solid
    var(--support-border-color-danger);
}
