.bcds-react-aria-NumberField {
  display: inline-flex;
  flex-direction: column;
  gap: var(--layout-margin-hair);
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}

.bcds-react-aria-NumberField--Group {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 40px;
  border-radius: var(--layout-border-radius-medium);
  border: 1px solid var(--surface-color-border-default, #d8d8d8);
}

.bcds-react-aria-NumberField--Group > button > svg {
  color: var(--icons-color-secondary);
}

.bcds-react-aria-NumberField--InputContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--layout-margin-small);
  justify-content: space-between;
  align-items: center;
}

.bcds-react-aria-NumberField--InputWrapper {
  display: flex;
}

.bcds-react-aria-NumberField--Button:first-child {
  border-right: var(--layout-border-) solid var(--surface-color-border-dark);
  border-top-left-radius: var(--layout-border-radius-medium);
  border-bottom-left-radius: var(--layout-border-radius-medium);
}
.bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default, #d8d8d8);
  border-top-right-radius: var(--layout-border-radius-medium);
  border-bottom-right-radius: var(--layout-border-radius-medium);
}

.bcds-react-aria-NumberField--Input {
  font: var(--typography-regular-body);
  flex: 1;
  border: none;
  max-width: 50px;
  outline: none;
}

/*hovering effect*/
.bcds-react-aria-NumberField--Group:hover {
  border: 1px solid var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-dark);
}

/*is disabled*/
.bcds-react-aria-NumberField[data-disabled] .bcds-react-aria-NumberField--Group,
.bcds-react-aria-NumberField--Button {
  background: var(--theme-gray-10);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Group {
  border: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default);
}

/*is focus*/
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(
    .isError
  ) {
  border: 2px solid var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(.isError)
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(.isError)
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-active);
}

/*is readOnly*/
.bcds-react-aria-NumberField--Button.isReadOnly {
  background: var(--theme-gray-10);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover {
  border: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField--InputWrapper.isReadOnly {
  border: 1px solid black;
  color: var(--typography-color-disabled);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default);
}

/*is error mode*/
.bcds-react-aria-NumberField--Group.isError {
  border: 2px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Button.isError:first-child {
  border-right: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Button.isError:last-child {
  border-left: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button.isError:first-child {
  border-right: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button.isError:last-child {
  border-left: 1px solid var(--support-border-color-danger);
}

/* Styles for the text label above the input field */
.bcds-react-aria-NumberField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

/* Styles for the text description below the input field */
.bcds-react-aria-NumberField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

/* Styles for the error message slot */
.bcds-react-aria-NumberField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}
