.bcds-react-aria-NumberField {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-hair);
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}

.bcds-react-aria-NumberField--Group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
}

.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:first-child {
  border-right: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-none);
}

.bcds-react-aria-NumberField--Group
  > .bcds-react-aria-NumberField--Button:last-child {
  border-left: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-none);
}

.bcds-react-aria-NumberField--Group > button > svg {
  color: var(--icons-color-primary);
}

.bcds-react-aria-NumberField--InputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-small) 0.75rem;
}

.bcds-react-aria-NumberField--Input {
  box-sizing: border-box;
  border: none;
}

/* Sizing */
.bcds-react-aria-NumberField.medium > .bcds-react-aria-NumberField--Group {
  height: 40px;
}

.bcds-react-aria-NumberField.medium .bcds-react-aria-NumberField--Input {
  font: var(--typography-regular-body);
}

.bcds-react-aria-NumberField.small > .bcds-react-aria-NumberField--Group {
  height: 32px;
}

.bcds-react-aria-NumberField.small .bcds-react-aria-NumberField--Input {
  font: var(--typography-regular-small-body);
}

/* Styles for the text label above the input field */
.bcds-react-aria-NumberField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
}

/* Styles for the text description below the input field */
.bcds-react-aria-NumberField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
}

/* Styles for the error icon and message */
.bcds-react-aria-NumberField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}

.bcds-react-aria-NumberField[data-invalid]
  .bcds-react-aria-NumberField--InputContainer
  > svg {
  color: var(--icons-color-danger);
}
