.bcds-react-aria-NumberField {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
}

.bcds-react-aria-NumberField--Group {
  display: flex;
  width: fit-content;
  height: 40px;
  border-radius: var(--layout-border-radius-medium);
  border: 1px solid var(--surface-color-border-default, #d8d8d8);
}

.bcds-react-aria-NumberField--Button {
  display: flex;
  min-width: 34px;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border-radius: 0px;
}

.bcds-react-aria-NumberField--InputContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 8px;
  min-width: 100px;
}

.bcds-react-aria-NumberField--InputWrapper {
  display: flex;
}

.bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-default, #d8d8d8);
  border-top-left-radius: var(--layout-border-radius-medium);
  border-bottom-left-radius: var(--layout-border-radius-medium);
}
.bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default, #d8d8d8);
  border-top-right-radius: var(--layout-border-radius-medium);
  border-bottom-right-radius: var(--layout-border-radius-medium);
}

.bcds-react-aria-NumberField--Input {
  flex: 1;
  border: none;
  max-width: 50px;
  outline: none;
}

/*hovering effect*/
.bcds-react-aria-NumberField--Group:hover {
  border: 1px solid var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-dark);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-dark);
}

/*is disabled*/
.bcds-react-aria-NumberField[data-disabled] .bcds-react-aria-NumberField--Group,
.bcds-react-aria-NumberField--Button {
  background: var(--theme-gray-10);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Group {
  border: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField[data-disabled]:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default);
}

/*is focus*/
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(
    .isError
  ) {
  border: 2px solid var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(.isError)
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-active);
}
.bcds-react-aria-NumberField--Group:focus-within:not(.isReadOnly):not(.isError)
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-active);
}

/*is readOnly*/
.bcds-react-aria-NumberField--Button.isReadOnly {
  background: var(--theme-gray-10);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover {
  border: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField--InputWrapper.isReadOnly {
  border: 1px solid black;
  color: var(--typography-color-disabled);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover
  .bcds-react-aria-NumberField--Button:first-child {
  border-right: 1px solid var(--surface-color-border-default);
}
.bcds-react-aria-NumberField--Group.isReadOnly:hover
  .bcds-react-aria-NumberField--Button:last-child {
  border-left: 1px solid var(--surface-color-border-default);
}

/*is error mode*/
.bcds-react-aria-NumberField--Group.isError {
  border: 2px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Button.isError:first-child {
  border-right: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Button.isError:last-child {
  border-left: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button.isError:first-child {
  border-right: 1px solid var(--support-border-color-danger);
}
.bcds-react-aria-NumberField--Group:hover
  .bcds-react-aria-NumberField--Button.isError:last-child {
  border-left: 1px solid var(--support-border-color-danger);
}
