.bcds-react-aria-ProgressBar {
  display: flex;
  flex-direction: column;
  gap: var(--layout-padding-xsmall);
}

/* Label */
.bcds-react-aria-ProgressBar--Label {
  display: flex;
  flex-direction: row;
  gap: var(--layout-margin-medium);
  justify-content: space-between;
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
}

.bcds-react-aria-ProgressBar--Value {
  color: var(--typography-color-secondary);
}

/* Progress bar */
.bcds-react-aria-ProgressBar--Track.small {
  height: var(--layout-padding-hair);
  border-radius: var(--layout-border-radius-small);
}
.bcds-react-aria-ProgressBar--Track.medium {
  height: var(--layout-padding-xsmall);
  border-radius: var(--layout-border-radius-small);
}
.bcds-react-aria-ProgressBar--Track.large {
  height: var(--layout-padding-small);
  border-radius: var(--layout-border-radius-medium);
}
.bcds-react-aria-ProgressBar--Track {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
  background-color: var(--surface-color-border-default);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}
.bcds-react-aria-ProgressBar--Fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: var(--surface-color-primary-default);
  border-radius: inherit;
  width: 100%;
  transform-origin: left;
  transform: scaleX(var(--percentage));
  transition: transform 200ms linear;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
.bcds-react-aria-ProgressBar:not([aria-valuenow])
  .bcds-react-aria-ProgressBar--Fill {
  background-color: var(--surface-color-primary-default);
}

/* Progress circle */
.bcds-react-aria-ProgressCircle {
  display: flex;
  align-self: center;
  fill: none;
  width: 100%;
  height: 100%;
}
svg.bcds-react-aria-ProgressCircle.small {
  width: var(--icons-size-medium);
  height: var(--icons-size-medium);
  stroke-width: var(--layout-border-width-small);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-small) / 2);
  }
}
svg.bcds-react-aria-ProgressCircle.medium {
  width: var(--icons-size-large);
  height: var(--icons-size-large);
  stroke-width: var(--layout-border-width-medium);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-medium) / 2);
  }
}
svg.bcds-react-aria-ProgressCircle.large {
  width: var(--icons-size-xlarge);
  height: var(--icons-size-xlarge);
  stroke-width: var(--layout-border-width-large);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-large) / 2);
  }
}
.bcds-react-aria-ProgressCircle--Bottom {
  cx: 50%;
  cy: 50%;
  stroke: var(--theme-gray-30);
}
.bcds-react-aria-ProgressCircle--Top {
  cx: 50%;
  cy: 50%;
  stroke: var(--theme-primary-blue);
  stroke-dasharray: 100 200;
  stroke-linecap: round;
  rotate: -90deg;
  transform-origin: center center;
}
