.bcds-react-aria-ProgressBar {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
}

/* Label */
.bcds-react-aria-ProgressBar--Label {
  grid-area: label;
  justify-self: start;
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}

.bcds-react-aria-ProgressBar--Value {
  grid-area: value;
  justify-self: end;
  color: var(--typography-color-secondary);
}

/* Progress bar */
.bcds-react-aria-ProgressBar--Track {
  grid-area: bar;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
  background-color: var(--surface-color-border-default);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
}

.bcds-react-aria-ProgressBar--Fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: var(--surface-color-primary-default);
  border-radius: inherit;
  width: 100%;
  transform-origin: left;
  transform: scaleX(var(--percentage));
  transition: transform 200ms linear;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

/* Indeterminate */
.bcds-react-aria-ProgressBar:not([aria-valuenow])
  .bcds-react-aria-ProgressBar--Fill {
  background-color: var(--surface-color-primary-default);
}

/* Sizing */
.bcds-react-aria-ProgressBar--Track.small {
  height: var(--layout-padding-hair);
  border-radius: var(--layout-border-radius-small);
}
.bcds-react-aria-ProgressBar--Track.medium {
  height: var(--layout-padding-xsmall);
  border-radius: var(--layout-border-radius-small);
}
.bcds-react-aria-ProgressBar--Track.large {
  height: var(--layout-padding-small);
  border-radius: var(--layout-border-radius-medium);
}
