.bcds-react-aria-Tag {
  color: var(--typography-color-primary, #2d2d2d);
  cursor: pointer;
  border-radius: var(--layout-margin-hair, 2px);
  border: 1px solid;
  box-sizing: content-box;
  font: var(--typography-regular-label, 400 0.875rem/1.313rem "BC Sans");
  padding: 2px 8px;
  width: fit-content;
}
.bcds-react-aria-Tag--contents {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bcds-react-aria-Tag--contents .react-aria-Button {
  background: none;
  border: none;
  color: var(--typography-color-primary, #2d2d2d);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Tag colors */
.bcds-react-aria-Tag.bc-blue {
  background-color: var(--surface-color-primary-default, #013366);
  border-color: var(--surface-color-primary-hover, #1e5189);
  color: var(--typography-color-primary-invert, #ffffff);
}
.bcds-react-aria-Tag.bc-blue
  .bcds-react-aria-Tag--contents
  > .react-aria-Button {
  color: var(--typography-color-primary-invert, #ffffff);
}
.bcds-react-aria-Tag.bc-gold {
  background-color: var(--surface-color-brand-gold-60, #f8ba47);
  border-color: var(--surface-color-primary-hover, #1e5189);
}
.bcds-react-aria-Tag.blue {
  background-color: var(--surface-support-surface-color-info, #f7f9fc);
  border-color: var(--surface-support-border-color-info, #053662);
}
.bcds-react-aria-Tag.dark {
  border-color: var(--surface-primary-hover, #1e5189);
  background: var(--surface-brand-gray-110, #252423);
  color: var(--typography-color-primary-invert, #ffffff);
}
.bcds-react-aria-Tag.dark .bcds-react-aria-Tag--contents > .react-aria-Button {
  color: var(--typography-color-primary-invert, #ffffff);
}
.bcds-react-aria-Tag.gray,
.bcds-react-aria-Tag.grey {
  background-color: var(--surface-brand-gray-20, #f3f2f1);
  border-color: var(--surface-border-dark, #353433);
}
.bcds-react-aria-Tag.green {
  background-color: var(--surface-support-surface-color-success, #f6fff8);
  border-color: var(--surface-support-border-color-success, #42814a);
}
.bcds-react-aria-Tag.red {
  background-color: var(--surface-support-surface-color-danger, #f4e1e2);
  border-color: var(--surface-support-border-color-danger, #ce3e39);
}
.bcds-react-aria-Tag.yellow {
  background-color: var(--surface-support-surface-color-warning, #fef1d8);
  border-color: var(--surface-support-border-color-warning, #f8bb47);
}

/* Selected */
.bcds-react-aria-Tag[data-selected] {
  border: 2px solid var(--surface-primary-active, #2e5dd7);
  padding: 1px 7px;
}

/* Focused */
.bcds-react-aria-Tag[data-focused] {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

/* Disabled */
.bcds-react-aria-Tag[data-disabled] {
  background-color: var(--surface-primary-disabled, #edebe9);
  border-color: var(--surface-border-light, #d8d8d8);
  color: var(--typography-color-disabled, #9f9d9c);
  cursor: not-allowed;
}
