.bcds-react-aria-Tag {
  color: var(--typography-color-primary);
  cursor: pointer;
  border-radius: var(--layout-margin-hair);
  border: 1px solid;
  box-sizing: content-box;
  font: var(--typography-regular-label);
  padding: 2px 8px;
  width: fit-content;
}
.bcds-react-aria-Tag--contents {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bcds-react-aria-Tag--contents .react-aria-Button {
  background: none;
  border: none;
  color: var(--typography-color-primary);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Tag colors */
.bcds-react-aria-Tag.bc-blue {
  background-color: var(--theme-primary-blue);
  border-color: var(--theme-blue-90);
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Tag.bc-blue
  .bcds-react-aria-Tag--contents
  > .react-aria-Button {
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Tag.bc-gold {
  background-color: var(--theme-primary-gold);
  border-color: var(--theme-blue-90);
}
.bcds-react-aria-Tag.blue {
  background-color: var(--support-surface-color-info);
  border-color: var(--support-border-color-info);
}
.bcds-react-aria-Tag.dark {
  background: var(--theme-gray-110);
  border-color: var(--theme-blue-90);
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Tag.dark .bcds-react-aria-Tag--contents > .react-aria-Button {
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Tag.gray,
.bcds-react-aria-Tag.grey {
  background-color: var(--theme-gray-20);
  border-color: var(--surface-color-border-dark);
}
.bcds-react-aria-Tag.green {
  background-color: var(--support-surface-color-success);
  border-color: var(--support-border-color-success);
}
.bcds-react-aria-Tag.red {
  background-color: var(--support-surface-color-danger);
  border-color: var(--support-border-color-danger);
}
.bcds-react-aria-Tag.yellow {
  background-color: var(--support-surface-color-warning);
  border-color: var(--support-border-color-warning);
}

/* Selected */
.bcds-react-aria-Tag[data-selected] {
  border: 2px solid var(--surface-color-border-active);
  padding: 1px 7px;
}

/* Focused */
.bcds-react-aria-Tag[data-focused] {
  outline: 2px solid var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}

/* Disabled */
.bcds-react-aria-Tag[data-disabled] {
  background-color: var(--surface-color-primary-button-disabled);
  border-color: var(--surface-color-border-default);
  color: var(--typography-color-disabled);
  cursor: not-allowed;
}
