.bcds-react-aria-DateField {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-hair);
  background-color: var(--surface-color-forms-default);
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}
.bcds-react-aria-DateField--Group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-xsmall) 0.75rem;
}
.bcds-react-aria-DateField--Input {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  align-items: center;
  border: none;
  font: var(--typography-regular-body);
}
.bcds-react-aria-DateField--Calendar {
}
.bcds-react-aria-DateField--Calendar > header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-margin-small);
}

/* Label */
.bcds-react-aria-DateField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}
/* Required indicator */
.bcds-react-aria-DateField--Label.required {
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-small) var(--layout-padding-xsmall);
}
/* Description */
.bcds-react-aria-DateField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  padding: var(--layout-padding-xsmall) var(--layout-padding-none);
}
/* Error message */
.bcds-react-aria-DateField--Error {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-danger);
}
