.bcds-AccordionGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--layout-border-width-small);
  background-color: var(--surface-color-border-default);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
  overflow: hidden;
}

/* Override individual accordion item borders */
.bcds-AccordionGroup > .bcds-Accordion {
  border: none;
  border-radius: var(--layout-border-radius-none);
}

/* Focus state */
.bcds-AccordionGroup > .bcds-Accordion[data-focus-visible-within] {
  border-radius: var(--layout-border-radius-medium);
  z-index: 1000;
}

/* Title styles */
.bcds-AccordionGroup--Title {
  color: var(--typography-color-primary);
}

.bcds-AccordionGroup--Title > h1 {
  font: var(--typography-bold-h1);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}

.bcds-AccordionGroup--Title > h2 {
  font: var(--typography-bold-h2);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}

.bcds-AccordionGroup--Title > h3 {
  font: var(--typography-bold-h3);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}

.bcds-AccordionGroup--Title > h4 {
  font: var(--typography-bold-h4);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}

.bcds-AccordionGroup--Title > h5 {
  font: var(--typography-bold-h5);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}

.bcds-AccordionGroup--Title > h6 {
  font: var(--typography-bold-h6);
  margin: var(--layout-margin-medium) var(--layout-margin-none);
}
