/* Styles for overlay element */
.react-aria-ModalOverlay:has(.bcds-react-aria-Modal) {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--layout-margin-small);
  background: var(--surface-color-overlay-default);
  height: 100vh;
  width: 100vw;
  z-index: 1000;

  &[data-entering] {
    animation-delay: 200ms;
  }
  &[data-exiting] {
    animation-delay: 200ms;
  }
}

/* Styles for content container */
.bcds-react-aria-Modal {
  box-sizing: border-box;
  max-width: 100vw;
  width: 600px;
  max-height: 100vh;
  min-height: var(--layout-margin-xxxlarge);
  height: auto;
  margin: var(--layout-margin-large);
  border-radius: var(--layout-border-radius-medium);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  background: var(--surface-color-forms-default);
  box-shadow: var(--surface-shadow-large);
}
