.bcds-react-aria-Modal--Overlay {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--layout-margin-small);
  background: var(--surface-color-overlay-default);
  /* This variable is set by React Aria */
  height: var(--visual-viewport-height);

  &[data-entering] {
    animation-delay: 200ms;
  }
  &[data-exiting] {
    animation-delay: 200ms;
  }
}

.bcds-react-aria-Modal--Container {
  width: 900px;
  max-width: 600px;
  border-radius: var(--layout-border-radius-medium);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  background: var(--surface-color-forms-default);
  box-shadow: var(--surface-shadow-large);
}
