.bcds-react-aria-TextField {
  display: inline-flex;
  flex-direction: column;
  /* Hacks for `stretch`: https://caniuse.com/mdn-css_properties_max-width_stretch */
  align-self: stretch;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}

/* Styles for the text label above the input field */
.bcds-react-aria-TextField--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
  padding: var(--layout-margin-hair) 0px;
}

/* Styles for the text description below the input field */
.bcds-react-aria-TextField--Description {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-secondary);
}

/* Styles for the input field */
.bcds-react-aria-TextField--Input {
  font: var(--typography-regular-body);
  color: var(--typography-color-primary);
  background: var(--surface-color-forms-default);
  box-sizing: border-box;
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
  padding: var(--layout-padding-small) 12px;
  margin: var(--layout-margin-small) var(--layout-margin-none)
    var(--layout-margin-small) var(--layout-margin-none);
  gap: var(--layout-margin-small);
}

/* Styles for the error message slot*/
.bcds-react-aria-TextField--Error {
  font: var(--typography-regular-body);
  color: var(--typography-color-danger);
}

/* Sizes */
.bcds-react-aria-TextField--Input.small {
  /* using margin token is kludgy, consider adding component-specific token for input sizing */
  height: var(--layout-margin-xlarge);
}

.bcds-react-aria-TextField--Input.medium {
  /* using margin token is kludgy, consider adding component-specific token for input sizing */
  height: var(--layout-margin-xxlarge);
}

/* Input states */
.bcds-react-aria-TextField--Input[data-hovered] {
  border-color: var(--surface-color-border-dark);
}

.bcds-react-aria-TextField--Input[data-focused] {
  border-radius: var(--layout-border-radius-large);
  border: var(--layout-borderWidth-small) solid
    var(--surface-color-border-active);
}

.bcds-react-aria-TextField--Input[data-invalid] {
  border-radius: var(--layout-border-radius-medium);
  border: 1px solid var(--support-border-color-danger);
  background: var(--surface-color-forms-default);
}

.bcds-react-aria-TextField--Input[data-disabled] {
  background: var(--surface-color-forms-disabled);
  cursor: not-allowed;
}
