form {
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  font-size: 18px;
}

.text_input {
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  font-size: 18px;
  border: 2px solid #8a9198;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 5px;
  resize: none;
}

.text_input:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

.text_label {
  display: flex;
}
