.bcds-react-aria-ToggleButton {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  gap: var(--layout-margin-xsmall);
  align-items: center;
  font: var(--typography-regular-body);
  color: var(--typography-color-secondary);
  background-color: var(--surface-color-secondary-button-disabled);
  border: none;
  border-radius: var(--layout-border-radius-medium);
  cursor: pointer;
}

/* Size */
.bcds-react-aria-ToggleButton.small {
  padding: var(--layout-padding-none) var(--layout-padding-small);
}

.bcds-react-aria-ToggleButton.medium {
  padding: var(--layout-padding-hair) var(--layout-padding-small);
}

/* Pressed */
.bcds-react-aria-ToggleButton[data-hovered][data-pressed] {
  background-color: var(--theme-blue-10);
}

/* Active */
.bcds-react-aria-ToggleButton[data-selected] {
  background-color: var(--surface-color-secondary-button-default);
  color: var(--typography-color-primary);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  box-shadow: var(--surface-shadow-small);
}

/* Hover */
.bcds-react-aria-ToggleButton[data-hovered] {
  background-color: var(--surface-color-secondary-button-default);
  color: var(--typography-color-primary);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-default);
  border-radius: var(--layout-border-radius-medium);
}

/* Focused */
.bcds-react-aria-ToggleButton[data-focus-visible] {
  border-radius: var(--layout-border-radius-medium);
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}

/* Disabled */
.bcds-react-aria-ToggleButton[data-disabled] {
  color: var(--typography-color-disabled);
  cursor: not-allowed;
}

/* Danger */
.bcds-react-aria-ToggleButton.danger {
  color: var(--typography-color-danger);
}
