.bcds-Callout {
  display: flex;
  width: 100%;
  padding: var(--layout-padding-medium) var(--layout-padding-large);
}

.bcds-Callout--Container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--layout-margin-small);
}

.bcds-Callout--Container > .bcds-Callout--Title {
  font: var(--typography-bold-large-body);
}

.bcds-Callout--Container > .bcds-Callout--Description {
  font: var(--typography-regular-body);
}

/* Theme - default */
.bcds-Callout.default {
  background-color: var(--surface-color-background-light-gray);
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-info);
  border-radius: var(--layout-border-radius-medium);
}

/* Theme - dark */
.bcds-Callout.dark {
  background-color: var(--surface-color-background-dark-blue);
  border-left: var(--layout-border-width-large) solid var(--theme-primary-gold);
  border-radius: var(--layout-border-radius-medium);
}

.bcds-Callout.dark > .bcds-Callout--Container {
  color: var(--typography-color-primary-invert);
}
