.bcds-Callout {
  display: flex;
  width: 100%;
  padding: var(--layout-padding-medium) var(--layout-padding-large);
}

.bcds-Callout--Container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--layout-margin-small);
}

.bcds-Callout--Container > .bcds-Callout--Title {
  font: var(--typography-bold-large-body);
}

.bcds-Callout--Container > .bcds-Callout--Description {
  font: var(--typography-regular-body);
}

/* Theme - light grey (default0 */
.bcds-Callout.lightGrey {
  background-color: var(--surface-color-background-light-gray);
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-info);
  border-radius: var(--layout-border-radius-medium);
}

/* Theme - light blue */
.bcds-Callout.lightBlue {
  background-color: var(--theme-blue-10);
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-info);
  border-radius: var(--layout-border-radius-medium);
}

/* Theme - dark blue  */
.bcds-Callout.darkBlue {
  background-color: var(--surface-color-background-dark-blue);
  border-left: var(--layout-border-width-large) solid var(--theme-primary-gold);
  border-radius: var(--layout-border-radius-medium);
}

.bcds-Callout.darkBlue > .bcds-Callout--Container {
  color: var(--typography-color-primary-invert);
}

/* Theme - light gold */
.bcds-Callout.lightGold {
  background-color: var(--theme-gold-10);
  border-left: var(--layout-border-width-large) solid var(--theme-primary-gold);
  border-radius: var(--layout-border-radius-medium);
}

/* Border disabled */
.bcds-Callout.lightGrey.noLeftBorder,
.bcds-Callout.lightGold.noLeftBorder,
.bcds-Callout.lightBlue.noLeftBorder,
.bcds-Callout.darkBlue.noLeftBorder {
  border-left: none;
}
