.bcds-react-aria-Tooltip {
  background-color: var(--theme-gray-110);
  border-radius: var(--layout-border-radius-medium);
  box-shadow: var(--surface-shadow-small);
  color: var(--typography-color-primary-invert);
  font: var(--typography-regular-small-body);
  padding: var(--layout-padding-xsmall) var(--layout-padding-small);
  transform: translate3d(0, 0, 0);
}

.bcds-react-aria-Tooltip > .bcds-react-aria-OverlayArrow {
  color: var(--theme-gray-110);
}

.bcds-react-aria-Tooltip[data-placement="top"] > .bcds-react-aria-OverlayArrow,
.bcds-react-aria-Tooltip[data-placement="bottom"]
  > .bcds-react-aria-OverlayArrow {
  height: 9px;
  width: 19px;
}

.bcds-react-aria-Tooltip[data-placement="right"]
  > .bcds-react-aria-OverlayArrow,
.bcds-react-aria-Tooltip[data-placement="left"]
  > .bcds-react-aria-OverlayArrow {
  height: 19px;
  width: 9px;
}

/* Top placement */
.bcds-react-aria-Tooltip[data-placement="top"] {
  margin-bottom: 10px; /* Offset is equal to the depth of the OverlayArrow */
}
.bcds-react-aria-Tooltip[data-placement="top"] > .bcds-react-aria-OverlayArrow {
  margin-top: -7.5px;
}
.bcds-react-aria-Tooltip[data-placement="top"]
  > .bcds-react-aria-OverlayArrow
  > svg {
  transform: rotate(180deg);
}

/* Right placement */
.bcds-react-aria-Tooltip[data-placement="right"] {
  margin-left: 10px;
}
.bcds-react-aria-Tooltip[data-placement="right"]
  > .bcds-react-aria-OverlayArrow {
  margin-top: -2px;
  margin-right: 4.5px;
}
.bcds-react-aria-Tooltip[data-placement="right"]
  > .bcds-react-aria-OverlayArrow
  > svg {
  transform: rotate(-90deg);
}

/* Bottom placement */
.bcds-react-aria-Tooltip[data-placement="bottom"] {
  margin-top: 9px;
}
.bcds-react-aria-Tooltip[data-placement="bottom"]
  > .bcds-react-aria-OverlayArrow {
  margin-bottom: 6.5px;
}

/* Left placement */
.bcds-react-aria-Tooltip[data-placement="left"] {
  margin-right: 10px;
}
.bcds-react-aria-Tooltip[data-placement="left"]
  > .bcds-react-aria-OverlayArrow {
  margin-top: -2px;
  margin-left: -5.5px;
}
.bcds-react-aria-Tooltip[data-placement="left"]
  > .bcds-react-aria-OverlayArrow
  > svg {
  transform: rotate(90deg);
}
