.bcds-react-aria-ProgressCircle {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-small);
  align-items: center;
  justify-content: center;
}

/* Label */
.bcds-react-aria-ProgressCircle--Label {
  font: var(--typography-regular-small-body);
  color: var(--typography-color-primary);
}

/* Size */
.bcds-react-aria-ProgressCircle.small > svg {
  width: var(--icons-size-medium);
  height: var(--icons-size-medium);
  stroke-width: var(--layout-border-width-small);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-small) / 2);
  }
}
.bcds-react-aria-ProgressCircle.medium > svg {
  width: var(--icons-size-large);
  height: var(--icons-size-large);
  stroke-width: var(--layout-border-width-medium);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-medium) / 2);
  }
}
.bcds-react-aria-ProgressCircle.large > svg {
  width: var(--icons-size-xlarge);
  height: var(--icons-size-xlarge);
  stroke-width: var(--layout-border-width-large);

  .bcds-react-aria-ProgressCircle--Bottom,
  .bcds-react-aria-ProgressCircle--Top {
    r: calc(50% - var(--layout-border-width-large) / 2);
  }
}

/* SVG circles */
.bcds-react-aria-ProgressCircle--Container {
  fill: none;
  width: 100%;
  height: 100%;
}

.bcds-react-aria-ProgressCircle--Bottom {
  cx: 50%;
  cy: 50%;
  stroke: var(--theme-gray-30);
}

.bcds-react-aria-ProgressCircle--Top {
  cx: 50%;
  cy: 50%;
  stroke: var(--theme-primary-blue);
  stroke-dasharray: 100 200;
  stroke-linecap: round;
  rotate: -90deg;
  transform-origin: center center;
}
