.bcds-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.bcds-footer > .bcds-footer--acknowledgement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: var(--layout-border-width-large) solid
    var(--surface-brand-gold-60);
  border-bottom: var(--layout-border-width-large) solid
    var(--surface-brand-gold-60);
  background-color: var(--surface-brand-gray-110);
  padding: var(--layout-padding-xlarge);
}

.bcds-footer
  > .bcds-footer--acknowledgement
  > .bcds-footer--acknowledgement-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  color: var(--typography-color-primary-invert);
  font: var(--typography-regular-label);
  max-width: 1100px;
  width: 100%;
}

.bcds-footer
  > .bcds-footer--acknowledgement
  > .bcds-footer--acknowledgement-text
  > p {
  margin: var(--layout-margin-none);
}

.bcds-footer > .bcds-footer--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--surface-background-light);
  padding: var(--layout-padding-xlarge);
}

.bcds-footer > .bcds-footer--container > .bcds-footer--container-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--layout-padding-xlarge);
  max-width: 1100px;
  width: 100%;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: var(--layout-padding-xlarge);
  row-gap: var(--layout-padding-medium);
  justify-content: space-between;
  width: 100%;
}

/* `horizontal` class is the default, when no `children` prop is passed */
.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links.horizontal {
  flex-direction: row;
}

/* `vertical` class is used when a `children` prop is passed */
.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links.vertical {
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--layout-padding-xlarge);
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--logo {
  display: flex;
  flex-direction: column;
  gap: var(--layout-padding-large);
  min-width: 324px;
  width: 576px;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--logo
  > #bcgov-logo-footer {
  width: 146px;
  min-width: 146px;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--logo
  > p {
  font: var(--typography-regular-label);
  margin: var(--layout-margin-none);
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--logo
  > p
  > a {
  color: var(--typography-color-secondary);
  font: var(--typography-regular-label);
  text-decoration: underline;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--logo
  > p
  > a:hover {
  text-decoration: none;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links {
  margin: var(--layout-margin-none);
}

/*
  When Footer hasn't been passed `children`, expand the links container to take
  up 320px, as the default links are narrower.
*/
.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links.horizontal
  > .bcds-footer--links {
  min-width: 320px;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links
  > .bcds-footer--links-title {
  display: block;
  font: var(--typography-bold-label);
  margin-bottom: var(--layout-padding-medium);
  text-transform: uppercase;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links
  > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: var(--layout-padding-xlarge);
  grid-row-gap: var(--layout-padding-small);
  list-style: none;
  margin: var(--layout-margin-none);
  padding: var(--layout-padding-none);
}

/*
  When a Footer has been passed `children`, the logo-links container fills the
  full width of the container, so there's room for 4 columns of links.
*/
.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links.vertical
  > .bcds-footer--links
  > ul {
  grid-template-columns: repeat(4, 1fr);
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links
  > ul
  > li {
  font: var(--typography-regular-label);
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links
  > ul
  > li
  > a {
  color: var(--typography-color-primary);
  text-decoration: none;
}

.bcds-footer
  > .bcds-footer--container
  > .bcds-footer--container-content
  > .bcds-footer--logo-links
  > .bcds-footer--links
  > ul
  > li
  > a:hover {
  text-decoration: underline;
}

.bcds-footer > .bcds-footer--container > .bcds-footer--container-content > hr {
  background-color: var(--surface-border-dark);
  border: var(--layout-border-width-none);
  height: var(--surface-border-width-small);
  margin: var(--layout-margin-none);
  width: 100%;
}

p.bcds-footer--copyright {
  color: var(--typography-color-secondary);
  font: var(--typography-regular-body);
  margin: var(--layout-margin-none);
}

/* Tablet */
@media (max-width: 991px) {
  /* Links drop beneath logo in the default configuration */
  .bcds-footer
    > .bcds-footer--container
    > .bcds-footer--container-content
    > .bcds-footer--logo-links {
    flex-wrap: wrap;
  }

  .bcds-footer
    > .bcds-footer--container
    > .bcds-footer--container-content
    > .bcds-footer--logo-links
    > .bcds-footer--logo {
    max-width: 324px;
  }

  /*
    When the `children` prop is used with multiple FooterLinks components,
    only two columns of links appear on screen at once.
  */
  .bcds-footer
    > .bcds-footer--container
    > .bcds-footer--container-content
    > .bcds-footer--logo-links.vertical
    > .bcds-footer--links
    > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra small screens */
@media (max-width: 575px) {
  .bcds-footer > .bcds-footer--acknowledgement {
    padding: var(--layout-padding-xlarge) var(--layout-padding-medium);
  }

  .bcds-footer > .bcds-footer--container {
    padding: var(--layout-padding-medium);
  }

  .bcds-footer > .bcds-footer--container > .bcds-footer--container-content {
    gap: var(--layout-padding-medium);
  }

  .bcds-footer
    > .bcds-footer--container
    > .bcds-footer--container-content
    > .bcds-footer--logo-links
    > .bcds-footer--logo {
    gap: var(--layout-padding-medium);
  }

  /*
    When the `children` prop is used with multiple FooterLinks components,
    only one column of links appear on screen at once.
  */
  .bcds-footer
    > .bcds-footer--container
    > .bcds-footer--container-content
    > .bcds-footer--logo-links.vertical
    > .bcds-footer--links
    > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
