<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Text Input</title>
  </head>
  <body>

    <form>
      <div class="text_label">
        <label>First Name:</label>
      </div>
      <input class="text_input" type="text" name="firstname"><br>
      <div class="text_label">
        <label> Last Name:</label>
      </div>
      <input class="text_input" type="text" name="lastname">
    </form>

  </body>
</html>
