<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Sample Radio Button</title>
  </head>
  <body>

    <label class="radio" for="radio_1">One
      <input type="radio" name="foo" id="radio_1">
      <span class="dot"></span>
    </label>

    <label class="radio" for="radio_2">Two
      <input type="radio" name="foo" id="radio_2">
      <span class="dot"></span>
    </label>

    <label class="radio" for="radio_3">Three
      <input type="radio" name="foo" id="radio_3">
      <span class="dot"></span>
    </label>

    <label class="radio" for="radio_4">Four
      <input type="radio" name="foo" id="radio_4">
      <span class="dot"></span>
    </label>

  </body>
</html>
