<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Radio Button</title>
  </head>
  <body>

    <label class="radio">One
      <input type="radio" name="foo">
      <span class="dot"></span>
    </label>

    <label class="radio">Two
      <input type="radio" name="foo">
      <span class="dot"></span>
    </label>

    <label class="radio">Three
      <input type="radio" name="foo">
      <span class="dot"></span>
    </label>

    <label class="radio">Four
      <input type="radio" name="foo">
      <span class="dot"></span>
    </label>

  </body>
</html>
