.bcds-react-aria-Button {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--layout-padding-small);
  min-height: 24px;
  min-width: 24px;
  border: none;
  border-radius: var(--layout-border-radius-medium);
  cursor: pointer;
  font: var(--typography-regular-body);
}
.bcds-react-aria-Button[data-disabled] {
  cursor: not-allowed;
}
.bcds-react-aria-Button[data-focus-visible] {
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
  outline-offset: var(--layout-margin-hair);
}

/* Icon button */
.bcds-react-aria-Button.icon {
  padding: unset;
}

/* Sizes */
.bcds-react-aria-Button.xsmall {
  padding: var(--layout-padding-hair) var(--layout-padding-small);
  font: var(--typography-regular-label);
}
.bcds-react-aria-Button.xsmall.icon {
  height: 24px;
  width: 24px;
}
.bcds-react-aria-Button.small {
  min-height: 32px;
  padding: var(--layout-padding-none) 0.75rem
    /* to be replaced with new token later */;
  font: var(--typography-regular-small-body);
}
.bcds-react-aria-Button.small.icon {
  height: 32px;
  width: 32px;
  min-width: 32px;
}
.bcds-react-aria-Button.medium {
  min-height: 40px;
  padding: var(--layout-padding-none) var(--layout-padding-medium);
}
.bcds-react-aria-Button.medium.icon {
  height: 40px;
  width: 40px;
  min-width: 40px;
}
.bcds-react-aria-Button.large, /* this doesn't work on its own */
.bcds-react-aria-Button.large.primary, 
.bcds-react-aria-Button.large.secondary, 
.bcds-react-aria-Button.large.tertiary, 
.bcds-react-aria-Button.large.link {
  min-height: 48px;
  padding: var(--layout-padding-none) var(--layout-padding-large);
  font: var(--typography-regular-large-body);
}
.bcds-react-aria-Button.large.icon {
  height: 48px;
  width: 48px;
  min-width: 48px;
}

/* Variant - Primary */
.bcds-react-aria-Button.primary {
  background: var(--surface-color-primary-button-default);
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Button.primary.danger {
  background-color: var(--surface-color-primary-danger-button-default);
}
.bcds-react-aria-Button.primary[data-disabled] {
  background-color: var(--surface-color-primary-danger-button-disabled);
  color: var(--typography-color-disabled);
}
.bcds-react-aria-Button.primary[data-hovered] {
  background-color: var(--surface-color-primary-button-hover);
}
.bcds-react-aria-Button.primary.danger[data-hovered] {
  background-color: var(--surface-color-primary-danger-button-hover);
}
.bcds-react-aria-Button.primary.danger[data-pressed],
.bcds-react-aria-Button.primary.danger[data-hovered][data-pressed] {
  background-color: var(--support-surface-color-danger);
  color: var(--surface-color-primary-danger-button-default);
}
.bcds-react-aria-Button.primary[data-pressed],
.bcds-react-aria-Button.primary[data-hovered][data-pressed] {
  background-color: var(--surface-color-primary-pressed);
}

/* Variant - Secondary */
.bcds-react-aria-Button.secondary {
  background-color: var(--surface-color-secondary-button-default);
  border: var(--layout-border-width-small) solid
    var(--surface-color-border-dark);
  color: var(--typography-color-primary);
}
.bcds-react-aria-Button.secondary.danger {
  border-color: var(--support-border-color-danger);
  color: var(--surface-color-primary-danger-button-default);
}
.bcds-react-aria-Button.secondary[data-disabled] {
  background-color: var(--surface-color-secondary-button-disabled);
  border-color: var(--surface-color-border-default);
  color: var(--typography-color-disabled);
}
.bcds-react-aria-Button.secondary[data-hovered] {
  background-color: var(--surface-color-secondary-button-hover);
}
.bcds-react-aria-Button.secondary.danger[data-hovered] {
  background-color: var(--support-surface-color-danger);
}
.bcds-react-aria-Button.secondary.danger[data-pressed],
.bcds-react-aria-Button.secondary.danger[data-hovered][data-pressed] {
  background-color: var(--surface-color-primary-danger-button-default);
  color: var(--typography-color-primary-invert);
}
.bcds-react-aria-Button.secondary[data-pressed],
.bcds-react-aria-Button.secondary[data-hovered][data-pressed] {
  background-color: var(--surface-color-secondary-pressed);
}

/* Variant - Tertiary */
.bcds-react-aria-Button.tertiary {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-primary);
}
.bcds-react-aria-Button.tertiary.danger {
  color: var(--surface-color-primary-danger-button-default);
}
.bcds-react-aria-Button.tertiary[data-disabled] {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-disabled);
}
.bcds-react-aria-Button.tertiary[data-hovered] {
  background-color: var(--surface-color-tertiary-button-hover);
}
.bcds-react-aria-Button.tertiary.danger[data-hovered] {
  background-color: var(--support-surface-color-danger);
}
.bcds-react-aria-Button.tertiary[data-pressed],
.bcds-react-aria-Button.tertiary[data-hovered][data-pressed] {
  background-color: var(--surface-color-tertiary-pressed);
}
.bcds-react-aria-Button.tertiary.danger[data-pressed],
.bcds-react-aria-Button.tertiary.danger[data-hovered][data-pressed] {
  background-color: var(--surface-color-tertiary-pressed);
}

/* Variant - Link */
.bcds-react-aria-Button.link {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-link);
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.bcds-react-aria-Button.link.danger {
  color: var(--surface-color-primary-danger-button-default);
}
.bcds-react-aria-Button.link[data-disabled] {
  color: var(--typography-color-disabled);
}
