<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>Text Input</title>
  </head>
  <body>

    <form>
      <div class="date_field">
        <div class="text_label">
          <label>Day</label>
        </div>
        <input class="date_input_day" type="text" name="firstname"><br>
      </div>

      <div class="date_field">
        <div class="text_label">
          <label>Month</label>
        </div>
        <input class="date_input_month" type="text" name="lastname">
      </div>

      <div class="date_field">
        <div class="text_label">
          <label>Year</label>
        </div>
        <input class="date_input_year" type="text" name="lastname">
      </div>

    </form>

  </body>
</html>
