.bcds-react-aria-Toaster {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--layout-margin-small);
  justify-content: space-around;
  align-items: flex-end;
  pointer-events: none;
}

/* Positioning */
.bcds-react-aria-Toaster.bottom-right {
  bottom: var(--layout-margin-large);
  right: var(--layout-margin-large);
}
.bcds-react-aria-Toaster.bottom-left {
  bottom: var(--layout-margin-large);
  left: var(--layout-margin-large);
}
.bcds-react-aria-Toaster.top-right {
  top: var(--layout-margin-large);
  right: var(--layout-margin-large);
}
.bcds-react-aria-Toaster.top-left {
  top: var(--layout-margin-large);
  left: var(--layout-margin-large);
}
