.bcds-react-aria-Toast {
  display: flex;
  flex: 1 0 0;
  align-items: flex-start;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-medium);
  box-shadow: var(--surface-shadow-small);
  border: none;
  border-radius: var(--layout-border-radius-medium)
    var(--layout-border-radius-none) var(--layout-border-radius-none)
    var(--layout-border-radius-medium);
  pointer-events: auto;
  min-width: 280px;
  max-width: 420px;
  background-color: var(--surface-color-background-white);
  color: var(--typography-color-primary);
  view-transition-class: toast;
}

.bcds-react-aria-Toast--Content {
  display: inline-flex;
  flex: 1 1 0;
  align-self: flex-start;
  flex-direction: column;
  gap: var(--layout-margin-hair);
}

.bcds-react-aria-Toast--Title {
  font: var(--typography-bold-small-body);
}

.bcds-react-aria-Toast--Message {
  font: var(--typography-regular-small-body);
}

/* Variants */
.bcds-react-aria-Toast.progress,
.bcds-react-aria-Toast.info {
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-info);

  .bcds-react-aria-Toast--Icon {
    color: var(--support-border-color-info);
  }
}

.bcds-react-aria-Toast.success {
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-success);

  .bcds-react-aria-Toast--Icon {
    color: var(--icons-color-success);
  }
}

.bcds-react-aria-Toast.warning {
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-warning);

  .bcds-react-aria-Toast--Icon {
    color: var(--icons-color-warning);
  }
}

.bcds-react-aria-Toast.danger {
  border-left: var(--layout-border-width-large) solid
    var(--support-border-color-danger);

  .bcds-react-aria-Toast--Icon {
    color: var(--icons-color-danger);
  }
}

/* Icons */
.bcds-react-aria-Toast--Icon {
  align-self: flex-start;
  margin-top: 1px;
  flex: 0 1 0;
}
.bcds-react-aria-Toast--Icon > svg {
  min-width: var(--icons-size-medium);
  height: var(--icons-size-medium);
}

/* Close button */
.bcds-react-aria-Toast--closeIcon {
  align-self: first baseline;
  color: var(--icons-color-primary);
  position: relative;
}

.bcds-react-aria-Toast--closeIcon > button {
  position: absolute;
  top: -2.5px;
  right: -2.5px;
}

.bcds-react-aria-Toast--closeIcon > svg {
  min-width: var(--icons-size-medium);
  height: var(--icons-size-medium);
}

/* Animation */

::view-transition-old(.toast):only-child {
  animation: slide-out 400ms;
  animation-fill-mode: forwards;
}

::view-transition-new(.toast):only-child {
  animation: slide-in 400ms;
}

@keyframes slide-out {
  to {
    translate: 100% 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-in {
  from {
    translate: 100% 0;
    opacity: 0;
  }
}
