body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-font-families-bc-sans);
}

main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1100px;
}

.alertGroup {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-small);
}
