.bcds-Alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--layout-margin-small);
  padding: var(--layout-padding-medium) var(--layout-padding-large);
}

.bcds-Alert--container {
  display: flex;
  flex-direction: column;
}

.bcds-Alert--container > .title {
  font: var(--typography-bold-body);
  color: var(--typography-color-primary);
}

.bcds-Alert--container > .description {
  font: var(--typography-regular-body);
  color: var(--typography-color-primary);
}

.bcds-Alert--icon {
  display: inline-flex;
  vertical-align: middle;
}

.bcds-Alert--icon > svg {
  min-width: var(--icons-size-large);
  height: var(--icons-size-large);
}

.bcds-Alert--closeIcon {
}

.bcds-Alert--closeIcon > svg {
  min-width: var(--icons-size-large);
  height: var(--icons-size-large);
}

/* Alert themes */

.info {
  background-color: var(--support-surfaceColor-info);
  border: var(--layout-border-width-small) solid
    var(--support-border-color-info);
  border-radius: var(--layout-border-radius-medium);
}

.bcds-Alert > .success {
}

.bcds-Alert > .warning {
}

.bcds-Alert > .danger {
}
