.bcds-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--surface-background-white);
  border-bottom-color: var(--surface-border-light);
  border-bottom-style: solid;
  border-bottom-width: var(--layout-border-width-small);
  min-height: 65px;
  padding: var(--layout-padding-none) var(--layout-padding-medium);
  width: 100%;
}

.bcds-header > .bcds-header--container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--layout-padding-medium);
  max-width: 1100px;
}

.bcds-header > .bcds-header--container > .bcds-header--title {
  flex-grow: 1;
  font: var(--typography-bold-h4);
  color: var(--typography-color-primary);
}

.bcds-header > .bcds-header--container > ul.bcds-header--skiplinks {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.bcds-header > .bcds-header--container > ul.bcds-header--skiplinks li a,
.bcds-header > .bcds-header--container > ul.bcds-header--skiplinks li button {
  background-color: var(--surface-background-white);
  box-sizing: border-box;
  color: var(--typography-color-link);
  font: var(--typography-regular-body);
  margin-top: -17.5px; /* Center the link visually in a single line header */
  padding: var(--layout-padding-xsmall) var(--layout-padding-medium);
  position: absolute;
  margin-left: -100000px;
}

.bcds-header > .bcds-header--container > ul.bcds-header--skiplinks li a:focus,
.bcds-header
  > .bcds-header--container
  > ul.bcds-header--skiplinks
  li
  button:focus {
  margin-left: 0; /* Line up left edge with left edge of logo image */
  text-wrap: nowrap;
}

.bcds-header > .bcds-header--container > .bcds-header--line {
  background-color: var(--surface-border-light);
  width: 1px;
  height: 32px;
}

.bcds-header > .bcds-header--container svg#bcgov-logo {
  min-width: 129px;
  width: 129px;
}
