name: Publish @bcgov/design-system-react-components to npm

on:
  pull_request:
    paths:
      - packages/react-components/**
    branches: [main]
    types: [closed]
  release:
    types: [published]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-react-component-library-next:
    name: Publish @bcgov/design-system-react-components@next
    # Publish a `next` version on PR merge to main branch.
    if: ${{ github.event.pull_request.merged == true && github.repository == 'bcgov/design-system' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read .nvmrc
        run: echo "GITHUB_NVMRC_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV
        working-directory: ./packages/react-components

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.GITHUB_NVMRC_VERSION }}

      - name: Install dependencies
        run: npm install
        working-directory: ./packages/react-components

      - name: Install jq
        run: sudo apt-get install -y jq

      # Use `jq` to change the package.json version to look like:
      #
      #   <version in package.json>-pr<PR # that caused the workflow run>
      #
      # So package.json version v1.2.3 with a run caused by merging PR #456 to
      # `main` causes the version of the package on npm to look like:
      #
      #   1.2.3-pr456
      #
      # This is to ensure that it's easy to map an npm version to a particular PR.
      #
      - name: Update version in package.json
        run: |
          PR_NUMBER=${{ github.event.pull_request.number }}
          CURRENT_VERSION=$(jq -r '.version' package.json)
          NEW_VERSION="${CURRENT_VERSION}-pr${PR_NUMBER}"
          jq --arg new_version "$NEW_VERSION" '.version = $new_version' package.json > tmp.json && mv tmp.json package.json
        shell: bash
        working-directory: ./packages/react-components

      - name: Build with Rollup script
        run: npm run rollup
        working-directory: ./packages/react-components

      - name: Set up .npmrc configuration
        run: echo "//registry.npmjs.org/" > ~/.npmrc

      - name: Publish to npm @next
        run: npm publish --tag next
        working-directory: ./packages/react-components

  publish-react-component-library-latest:
    name: Publish @bcgov/design-system-react-components@latest
    # Publish a `latest` version only when a release is published that targets
    # the React components package via a tag like:
    # @bcgov/design-system-react-components@v1.2.3
    if: ${{ github.event_name == 'release' && contains(github.event.release.tag_name, 'bcgov/design-system-react-components') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read .nvmrc
        run: echo "GITHUB_NVMRC_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV
        working-directory: ./packages/react-components

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.GITHUB_NVMRC_VERSION }}

      - name: Install dependencies
        run: npm install
        working-directory: ./packages/react-components

      - name: Build with Rollup script
        run: npm run rollup
        working-directory: ./packages/react-components

      - name: Set up .npmrc configuration
        run: echo "//registry.npmjs.org/" > ~/.npmrc

      - name: Publish to npm @latest
        run: npm publish --tag latest
        working-directory: ./packages/react-components
