name: Test React components library

on:
  pull_request:
    paths:
      - packages/react-components/**
  workflow_dispatch:

# Cancel any currently running builds to save GitHub Actions hours.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  vitest-unit-tests:
    name: Vitest unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Read .nvmrc
        run: echo "GITHUB_NVMRC_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV
        working-directory: ./packages/react-components

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.GITHUB_NVMRC_VERSION }}

      - name: Install dependencies
        run: npm install
        working-directory: ./packages/react-components

      # Errors in lint process will cause this job to fail
      - name: Lint
        run: npm run lint
        working-directory: ./packages/react-components

      - name: Run test suite
        run: npm run test
        working-directory: ./packages/react-components

      # Treat failures in the Vite build as test failures.
      # We don't need to keep the artifact of this build,
      # we just care that it completes successfully.
      - name: Run Vite build
        run: npm run vite-build
        working-directory: ./packages/react-components

  playwright-accessibility-tests:
    name: Playwright accessibility tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Read .nvmrc
        run: echo "GITHUB_NVMRC_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV
        working-directory: ./packages/react-components

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.GITHUB_NVMRC_VERSION }}

      - name: Install dependencies
        run: npm install
        working-directory: ./packages/react-components

      - name: Install Playwright
        run: npx playwright install --with-deps
        working-directory: ./packages/react-components

      - name: Build Storybook
        run: npm run storybook-build
        working-directory: ./packages/react-components

      - name: Serve Storybook and run tests
        run: |
          npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "npx http-server storybook-static --port 6006 --silent" \
            "npx wait-on tcp:6006 && npm run test-storybook"
        working-directory: ./packages/react-components
